<div class="modal-header">
  <h5 class="modal-title">{{ skill ? "Update Skill" : "Add Skill" }}</h5>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="skillForm">
    <div class="form-group">
      <label for="skillName">Skill Name</label>
      <input
        id="skillName"
        type="text"
        formControlName="skillName"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="relatedField">Related Field</label>
      <input
        id="relatedField"
        type="text"
        formControlName="relatedField"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="experience">Experience</label>
      <input
        id="experience"
        type="text"
        formControlName="experience"
        class="form-control"
      />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    *ngIf="!isUpdateMode"
    type="button"
    class="btn btn-primary"
    (click)="saveSkill()"
    [disabled]="!skillForm.valid"
  >
    Save
  </button>
  <button
    *ngIf="isUpdateMode"
    type="button"
    class="btn btn-update"
    (click)="confirmUpdate()"
    [disabled]="!formChanged || !skillForm.valid"
  >
    Update
  </button>
  <button type="button" class="btn btn-secondary" (click)="dismiss()">
    Cancel
  </button>
</div>
