<div class="profile-container">
  <div class="profile-photo">
    <div class="background-image" (click)="openBackgroundImageModal()">
      <img
        [src]="
          profileForm.get('backgroundImageUrl')?.value ||
          'assets/images/background.png'
        "
        alt="Background Image"
        class="background-img"
        [ngClass]="{
          'background-img': !profileForm.get('backgroundImageUrl')?.value
        }"
      />
      <input
        type="file"
        (change)="onBackgroundImageChange($event)"
        class="file-input"
        *ngIf="editMode && isCurrentUserProfile"
      />
    </div>

    <div class="profile-image" (click)="openProfileImageModal()">
      <img
        [src]="
          profileForm.get('profileImageUrl')?.value ||
          'assets/images/add-photo.png'
        "
        alt="Profile Image"
        class="profile-img"
        [ngClass]="{
          'add-photo-img': !profileForm.get('profileImageUrl')?.value
        }"
      />
      <input
        type="file"
        (change)="onProfileImageChange($event)"
        class="file-input"
        *ngIf="editMode && isCurrentUserProfile"
      />
    </div>
  </div>

  <div class="profile-info container mt-4">
    <!-- Profilne informacije -->
    <div class="row align-items-center">
      <div class="col-md-9 d-flex justify-content-between align-items-center">
        <div>
          <h3>{{ userData?.firstName }} {{ userData?.lastName }}</h3>
          <p>{{ userData?.education[0]?.degree }}</p>
          <p>
            {{ userData?.skills?.[0]?.skillName || 'No skills added yet' }}
          </p>
          <p>
            <a href="#">{{ userData?.address }}</a>
          </p>
          <button
            class="btn btn-primary me-2"
            *ngIf="!isCurrentUserProfile"
            (click)="startChat()"
          >
            Send Message
          </button>

          <button
            class="btn btn-primary"
            *ngIf="!isCurrentUserProfile && !connectionSent && !isConnected"
            (click)="sendConnectionRequest()"
            [attr.data-userid]="userId"
          >
            Connect
          </button>

          <button
            class="btn btn-outline-danger"
            *ngIf="!isCurrentUserProfile && isConnected"
            (click)="confirmUnconnect()"
          >
            Unconnect
          </button>
        </div>
        <div>
          <button
            class="btn btn-secondary me-2"
            (click)="toggleEditMode()"
            *ngIf="!editMode && isCurrentUserProfile"
            title="Edit"
          >
            <span
              class="material-symbols-outlined"
              (click)="toggleEditMode()"
              *ngIf="!editMode"
              onmouseover="Edit"
            >
              Edit
            </span>
          </button>
          <button
            class="btn btn-secondary"
            *ngIf="editMode"
            (click)="onSubmit()"
          >
            Save
          </button>
          <button
            class="btn btn-secondary"
            *ngIf="editMode"
            (click)="toggleEditMode()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>

    <!-- Novi delovi -->
    <div class="row mt-4">
      <!-- About div -->
      <div class="col-md-12 about">
        <h4>About</h4>
        <p>{{ userData?.bio }}</p>
      </div>
      <div class="education-section">
        <div class="section-header">
          <h4>Education</h4>
          <button
            class="btn btn-light"
            (click)="openEducationModal()"
            *ngIf="isCurrentUserProfile"
          >
            <ion-icon name="add-outline"></ion-icon>
          </button>
        </div>

        <div class="education-cards">
          <div
            *ngFor="let education of userData?.education; let i = index"
            class="education-card"
            (click)="openEducationModal(education)"
          >
            <div class="education-icon">
              <ion-icon name="school-outline"></ion-icon>
            </div>
            <div class="education-info">
              <h5>{{ education.schoolName }}</h5>
              <p>{{ education.degree }}</p>
              <button
                *ngIf="editMode"
                class="btn btn-danger btn-sm"
                (click)="removeEducation(i)"
              >
                Remove
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Skills div -->
      <div class="skills-section">
        <div class="section-header">
          <h4>Skills</h4>
          <button
            class="btn btn-light"
            (click)="openSkillsForm()"
            *ngIf="isCurrentUserProfile"
          >
            <ion-icon name="add-outline"></ion-icon>
          </button>
        </div>

        <div class="skills-cards">
          <div
            *ngFor="let skill of userData.skills; let i = index"
            class="skills-card"
            (click)="openSkillsForm(skill)"
          >
            <div class="skills-info">
              <h5>{{ skill.skillName }}</h5>
              <button
                *ngIf="editMode"
                class="btn btn-danger btn-sm"
                (click)="removeSkill(i)"
              >
                Remove
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- EDIT FORMA -->
      <div class="row mt-4" *ngIf="editMode && isCurrentUserProfile">
        <div class="col-md-12">
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <h4>First Name</h4>
              <input
                type="text"
                class="form-control"
                id="firstName"
                formControlName="firstName"
              />
            </div>
            <div class="mb-3">
              <h4>Last Name</h4>
              <input
                type="text"
                class="form-control"
                id="lastName"
                formControlName="lastName"
              />
            </div>
            <div class="mb-3">
              <h4>Email</h4>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
              />
            </div>
            <div class="mb-3">
              <h4>Address</h4>
              <input
                type="text"
                class="form-control"
                id="address"
                formControlName="address"
              />
            </div>
            <div class="mb-3">
              <h4>Contact</h4>
              <input
                type="text"
                class="form-control"
                id="contact"
                formControlName="contact"
              />
            </div>

            <div class="mb-3">
              <h4>Bio</h4>
              <textarea
                class="form-control"
                id="bio"
                formControlName="bio"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">
              Update Profile Info
            </button>
          </form>
        </div>
      </div>

      <div class="col-md-12 mt-4" id="activity">
        <h4>Activity</h4>
        <div *ngIf="userPosts.length > 0; else noPosts">
          <div *ngFor="let post of userPosts" class="post card mb-3">
            <div class="card-body">
              <p>{{ post.content }}</p>
              <span class="text-muted">{{
                post.timestamp.toDate() | date : "short"
              }}</span>
            </div>
          </div>
        </div>
        <ng-template #noPosts>
          <p>You haven't posted yet</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
