/* You can add global styles to this file, and also import other style files */
/* Prepisujemo Toastr stilove za povećanje veličine */
.toast {
    font-size: 1.6rem; /* Povećaj veličinu teksta */
    width: 400px; /* Povećaj širinu Toastr-a */
    padding: 20px; /* Povećaj padding */
  }
  
  .toast-title {
    font-size: 1.8rem; /* Povećaj veličinu naslova */
    font-weight: bold;
  }
  
  .toast-message {
    font-size: 1.6rem; /* Povećaj veličinu poruke */
  }
  
  /* Povećaj veličinu pop-up prozora */
.swal-wide {
  width: 1000px !important;  /* Povećaj širinu */
  font-size: 2em;  /* Povećaj font */
}

/* Stiliziranje naslova */
.swal-title {
  font-size: 3em; /* Povećaj veličinu naslova */
}

/* Stiliziranje sadržaja */
.swal-content {
  font-size: 2em; /* Povećaj veličinu sadržaja */
}

/* Prilagodba gumba za potvrdu */
.swal-confirm-button {
  padding: 15px 32px;
  font-size: 1.2em;
}

/* Prilagodba gumba za odustajanje */
.swal-cancel-button {
  padding: 15px 32px;
  font-size: 1.2em;
}
