<div class="container mt-4">
  <h3>Search for Users</h3>
  <form (ngSubmit)="searchUsers()">
    <div class="mb-3">
      <button
        class="btn btn-warning btn-sm float-end mb-2"
        (click)="resetForm()"
      >
        Reset Form
      </button>
      <label for="location" class="form-label">Location</label>
      <input
        type="text"
        class="form-control"
        id="location"
        [(ngModel)]="location"
        name="location"
        placeholder="Enter your location (e.g., Zadar)"
      />
      <!-- Upozorenje ako je polje prazno -->
      <div *ngIf="locationError" class="text-danger">
        Location is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="radius" class="form-label">Radius (km)</label>
      <input
        type="number"
        class="form-control"
        id="radius"
        [(ngModel)]="radius"
        name="radius"
        placeholder="Enter search radius in kilometers"
      />
    </div>

    <div class="mb-3" (focusout)="hideDropdown($event)">
      <label for="skill" class="form-label">Skill</label>
      <input
        type="text"
        class="form-control"
        id="skill"
        [(ngModel)]="skillControl.value"
        [ngModelOptions]="{ standalone: true }"
        name="skill"
        placeholder="Enter skill (e.g., Web Developer)"
        (input)="onSkillInput($event)"
        (focus)="showDropdown()"
        [attr.autocomplete]="'off'"
      />
      <ul
        *ngIf="isDropdownVisible && (filteredSkills$ | async)?.length"
        class="list-group"
      >
        <li
          *ngFor="let skill of (filteredSkills$ | async) || []"
          class="list-group-item list-group-item-action"
          (click)="selectSkill(skill)"
        >
          {{ skill }}
        </li>
      </ul>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  
     <!-- Obavijest ako nema pronađenih korisnika -->
  <div *ngIf="filteredUsers.length === 0 && searchAttempted" class="no-results">
    <p>No users found matching your search criteria.</p>
  </div>
  <div class="mt-4" *ngIf="filteredUsers.length > 0">
    <h4>Results:</h4>
    <ul class="list-group">
      <li
        *ngFor="let user of filteredUsers; let i = index"
        class="list-group-item"
        [attr.data-userid]="user.uid"
        [attr.id]="'user-' + i"
      >
        <h5>{{ user.firstName }} {{ user.lastName }}</h5>
        <p>
          <strong>Skills:</strong>
          <span *ngFor="let skill of user.skills; let i = index">
            {{ skill.skillName || skill
            }}<span *ngIf="i < user.skills.length - 1">, </span>
          </span>
        </p>
        <p>
          <strong>Location:</strong> {{ user.address || "No location listed" }}
        </p>
        <div class="actions">
          <button
            class="btn btn-outline-primary me-2"
            *ngIf="!user.isConnected && user.requestStatus !== 'pending'"
            (click)="sendConnectionRequest(user)"
          >
            Connect
          </button>
          <!-- Show Pending Button if connection request is pending -->
          <button
            class="btn btn-outline-secondary me-2"
            *ngIf="user.requestStatus === 'pending'"
            disabled
          >
            Pending
          </button>
          <!-- Show Send Message Button if already connected -->
          <button
            class="btn btn-success me-2"
            *ngIf="user.isConnected"
            (click)="startChat(user)"
          >
            Send Message
          </button>
          <button class="btn btn-outline-success" (click)="viewProfile(user)">
            View Profile
          </button>
        </div>
        <!-- New button to focus on map -->
        <button class="btn btn-info btn-small ms-auto" (click)="focusOnMap(user)">
          Show on Map
        </button>
      </li>
    </ul>
  </div>

  <div class="mt-4 google-map" *ngIf="showMap">
    <p><small>*Press the marker!</small></p>
    <google-map height="500px" width="100%" [center]="center" [zoom]="zoom">
      <map-marker
        *ngFor="let user of filteredUsers; let i = index"
        [position]="user.position"
        [title]="user.firstName + ' ' + user.lastName"
        (mapClick)="onMapMarkerClick(user, i)"
      ></map-marker>
      <map-circle
        [center]="center"
        [radius]="radius * 1000"
        [options]="circleOptions"
      ></map-circle>
    </google-map>
    
  </div>
</div>
